* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background: #03121B;
  height: 100vh;
}


.active-button {
  font-weight: medium;
  font-size: 1.125rem; 
  font-family: 'Bruno Ace SC', sans-serif; 
  letter-spacing: 0.05em;
  color: white;
  transition: color 0.2s;
  position: relative; 
  text-decoration: none; 
}

.inactive-button {
  background-color: #03121B;
  color: white;
  font-weight: medium;
  font-size: 1.125rem; 
  font-family: 'Bruno Ace SC', sans-serif; 
  letter-spacing: 0.05em;
  color: white;
  transition: color 0.2s;
  position: relative; 
}


.inactive-button:hover::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
}


.active-button::after {
  content: "";
  position: absolute;
  bottom: -3px; 
  left: 0;
  width: 100%;
  height: 2px; 
  background-color: white;
}
